<%= form_with(model: [commentable, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= t'errors.template.header', model: @comment.model_name.human, count: @comment.errors.count %></h2>
      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
