<h2><%= Comment.model_name.human %></h2>
<% commentable.comments.each do |comment| %>
  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <% if comment.user.name.present? %>
      <%= comment.user.name %>
    <% else %>
      <%= comment.user.email %>
    <% end %>
    &nbsp;
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= l comment.created_at %>
    &nbsp;
    <strong><%= Comment.human_attribute_name(:content) %>:</strong>
    <%= comment.content %>
  </p>
<% end %>

<%= form_with(model: [commentable, Comment.new]) do |form| %>
  <% if @comment.present? %>
    <div id="error_explanation">
      <h2><%= t'errors.template.header', model: @comment.model_name.human, count: @comment.errors.count %></h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit t('comments.create.submit_comment') %>
  </div>
<% end %>

