<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@book) %> 
<br>

<h2>コメント一覧</h2>
<% @comments.each do |comment| %>
  <p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= comment.user.name %>
  &nbsp;
  <strong><%= Comment.human_attribute_name(:content) %>:</strong>
  <%= comment.content %>
  </p>
<% end %>

<%= form_with(model: [@book, @comment]) do |f| %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit 'コメント' %>
<% end %>

<%= link_to t('views.common.back'), books_path %>
