<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <% if user_signed_in? %>
        <%= t('views.user.logged_in_as')%>
        <strong><%= current_user.email %></strong>.<br>
        <%= link_to t('views.user.edit'), edit_user_registration_path %> |
        <%= link_to t('views.user.sign_out'), destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
